body {
  margin: 0;

  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* ============================ */
/* ========== HEADER ========== */
/* ============================ */


.main-header {
  width: 100%;
  margin-bottom: 59px;
  padding-bottom: 60px;

  background-color: #f3f7f9;
}

.header-top {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 46px;

  background-color: #293449;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}


.header-top a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.header-top .header-logo {
  position: absolute;
  top: 0;
  left: 0;

  min-width: 220px;
  padding-top: 13px;
  padding-bottom: 13px;

  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

/* ========== ПОЛЕ ПОИСКА ========== */

.header-top .search {
  position: absolute;
  left: 220px;

  display: block;
  width: 270px;
}

.search input {
  position: relative;

  width: 221px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
  border: 0;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:active {
  background-color: #293449;
}

.search input:focus {
  background-color: #ffffff;
}


.search input::-webkit-input-placeholder {
  color: #ffffff;
}
.search input::-moz-placeholder {
  color: #ffffff;
}
.search input::-ms-input-placeholder {
  color: #ffffff;
}
.search input::placeholder {
  color: #ffffff;
}

.search input:focus::-webkit-input-placeholder {
  color: #000000;
}
.search input:focus::-moz-placeholder {
  color: #000000;
}
.search input:focus::-ms-input-placeholder {
  color: #000000;
}
.search input:focus::placeholder {
  color: #000000;
}

/* ========== ЗАКЛАДКИ и КОРЗИНА ========== */

.header-top .book-cart {
  position: relative;

  padding-right: 28px;
  padding-left: 44px;
}

.book-cart:hover {
  background-color: #212a3a;
}

.book-cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.book-cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 16px;

  background-image: url("../img/sprites/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart::before {
  background-image: url("../img/sprites/icon-cart.svg");
}

.book-cart:hover::before {
  opacity: 1;
}

.book-cart:active::before {
  opacity: 0.6;
}

.book-cart:focus::before {
  opacity: 0.5;
}

/* ========== ОФОРМИТЬ ЗАКАЗ ========== */

.checkout {
  padding-right: 22px;
  padding-left: 20px;

  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

/* ========== ЗАГОЛОВОК ГЛАВНОЙ СТРАНИЦЫ ========== */

.heading {
  width: 196px;
  margin: 0;
  margin-right: 71px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

/* ========== КОНТАКТЫ ========== */

.header-contacts {
  display: flex;
  flex-direction: column;
  margin-right: 69px;
}

.header-contacts a {
  position: relative;

  width: auto;
  padding-top: 13px;
  padding-right: 49px;
  padding-bottom: 11px;
  padding-left: 71px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #e9292a;
  letter-spacing: 0.42px;

  border: 3px solid #ffffff;
}

.header-contacts a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/sprites/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts p {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

/* ========== ВХОД и РЕГИСТРАЦИЯ ========== */

.user-login {
  display: flex;
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
}

.user-login a {
  display: block;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;

  color: #000000;

  background-color: #ffffff;
}

.user-login li:first-child {
  margin-right: 10px;
}

.user-login a:hover {
  color: #ee3643;
}

.user-login a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-login .enter {
  position: relative;

  padding-left: 48px;
}

.enter::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/sprites/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.enter:hover::before {
  background-image: url("../img/sprites/icon-login-hover.svg");
}

.enter:active::before {
  background-image: url("../img/sprites/icon-login.svg");
}

/* ========== ЮЗВЕРЬ МЕНЮ (КАТАЛОГ) ========== */

.user-menu-exit {
  display: flex;
  justify-content: space-between;
}

.user-menu {
  display: flex;
  justify-content: space-between;
}

.user-menu-exit {
  font-size: 21px;
}

.user-menu-exit a {
  color: #000000;
}

.user-menu-exit a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu {
  font-size: 16px;
  line-height: 18px;
}

.user-menu a {
  color: #32425c;
  text-decoration: underline;
}

.user-menu a:hover {
  color: #ee3643;
}

.user-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

/* ========== ХЛЕБНЫЕ КРОШКИ ========== */

.breadcrumbs-catalog {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs-catalog a {
  color: #000000;
}

/* ========== ГЛАВНОЕ МЕНЮ ========== */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-top-navigation,
.header-top-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.header-top-navigation a {
  display: block;
  padding-top: 21px;
  padding-right: 31px;
  padding-bottom: 22px;
  padding-left: 31px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.header-top-navigation a:hover {
  color: #ffffff;

  background-color: #293449;
}

.header-top-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* ================================ */
/* ========== ПРОМО БЛОК ========== */
/* ================================ */

/* ========== ВЕРХНИЙ ========== */

.promo-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.promo-list h3 {
  position: relative;
  top: 24px;
  left: 23px;

  margin: 0;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-list li {
  position: relative;
}

.promo-list .promo-item-1::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/sprites/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-list .promo-item-2::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/sprites/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-list .promo-item-3::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/sprites/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-right .promo-item-4::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url("../img/sprites/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-right .promo-item-5::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/sprites/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-list a {
  position: absolute;
  bottom: 22px;
  left: 25px;

  display: block;
  min-width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-top .promo-list {
  padding-left: 0;
}

.promo-top {
  margin-bottom: 20px;
}

.promo-list a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item-1 {
  width: 300px;
  min-height: 123px;

  background-color: #ffbf47;
}

.promo-item-2 {
  width: 300px;
  min-height: 123px;

  background-color: #3bbce3;
}

.promo-item-3 {
  width: 300px;
  min-height: 123px;

  background-color: #dc91d8;
}

/* ========== ПРАВЫЙ ========== */

.promo-right {
  display: flex;
  flex-direction: column;
}

.promo-list-right h3 {
  position: relative;
  top: 24px;
  left: 23px;

  margin: 0;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-list-right li {
  position: relative;
}

.promo-list-right a {
  position: absolute;
  bottom: 22px;
  left: 25px;

  display: block;
  min-width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-list-right {
  margin: 0;
  padding-left: 0;
}

.promo-item-4 {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;

  background-color: #8ed78f;
}

.promo-item-5 {
  width: 300px;
  min-height: 123px;

  background-color: #ffc047;
}

.promo-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 53px;
}

/* --- слайдер --- */

.slider-container {
  position: relative;

  box-sizing: border-box;
}

.carousel-control-prev-icon {
  content: "";
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 1;

  width: 22px;
  height: 40px;

  background-image: url(../img/sprites/icon-left.svg);
  cursor: pointer;
}

.carousel-control-next-icon {
  content: "";
  position: absolute;
  top: 114px;
  right: 25px;
  z-index: 1;

  width: 22px;
  height: 40px;

  background-image: url(../img/sprites/icon-right.svg);
  cursor: pointer;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 50%;
  z-index: 100;

  min-width: 100px;
  height: 10;

  font-size: 0;
  text-align: center;

  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  width: 570px;
  height: 217px;
  margin: 0 auto;
  padding-top: 27px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/ravshan.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-item:nth-child(2) {
  background-image: url("../img/jamshut.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";
  position: absolute;
  top: 5;
  left: 0;
  z-index: 2;

  width: 6px;
  height: 6px;

  background-color: inherit;
  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.slider-item p {
  margin: 0;

  color: #ffffff;
}

/* КНОПКА */

.slider-button {
  position: absolute;
  bottom: 22px;
  z-index: 10;

  display: block;
  width: 195px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #ca2c37;
}

.slider-button:active {
  background-color: #ba2732;
}

/* СЛАЙДОР сервисов */



/* ========== ХИДЕР БЛОКА ========== */

.header-block-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  color: #32425c;

  background-color: #f9f5f0;
}

.header-block-main h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.header-block-main a {
  display: block;
  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 25px;
  padding: 10px 0;
  padding-right: 55px;
  padding-left: 55px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.header-block-main a:hover,
.header-block-main a:focus {
  background-color: #ca2c37;
}

.header-block-main a:active {
  background-color: #ba2732;
}

.catalog-h1 {
  display: flex;
  justify-content: space-between;

  color: #32425c;

  background-color: #f2f6f8;
}

.catalog-h1 h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* ========== БРЭНДЫ ========== */

.brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -20px;
  margin-bottom: 85px;
  padding: 0;
}

.brands-list a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;
}

/* ========== СЕРВИСЫ ========== */

.delivery-and-services-header {
  background-color: #f4f7f9;
}



/* ========== ХИДЕР СЕРВИСОВ ========== */

.header-services {
  width: 398px;
  height: auto;
  margin-bottom: 74px;
  padding-top: 68px;

  color: #000000;
}

.header-services h2 {
  margin: 0;
  margin-bottom: 34px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.header-services p {
  font-size: 13px;
  line-height: 24px;
}

/* ========== НАВИГАЦИЯ СЕРВИСОВ ========== */

.services-navigation {
  font-size: 21px;
  line-height: 30px;
}

.services-navigation a {
  color: #ffffff;

  background-color: #32425c;
}

.services-navigation a:hover {
  color: #ffffff;

  background-color: #293449;
}

.services-navigation a:active {
  color: #32425c;

  background-color: #ffffff;
}

/* ========== ОПИСАНИЯ СЕРВИСОВ ========== */

.services-item-1,
.services-item-2,
.services-item-3 {
  display: flex;
  justify-content: flex-start;
}

.services-description h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-description p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/* ========== СЛАЙДЕР СЕРВИСОВ ========== */

.services-container {
  display: flex;
  flex-direction: column;
  min-width: 940px;
  /* Для демонстрации */
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;

  color: #000000;

  background-color: #f4f7f9;
}

.slider-service-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-service-title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}


/* ========== КОМПАНИЯ и КОНТАКТЫ ========== */

.company-and-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.company-and-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.company-and-contacts p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.list-orders a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.company-and-contacts .btn {
  font-size: 14px;
  line-height: 17.5px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

/* ========== ФИЛЬТР ========== */

.container-filters {
  width: 220px;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
}

/* ========== КНОПКА ОТПРАВКИ ========== */

.filter button {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/* ========== КАТАЛОГ ========== */

.catalog-items {
  min-width: 700px;
  max-width: 940px;
  margin: 0 auto;
  padding: 0;

  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.catalog-items .row {
  display: flex;
  margin-right: -20px;
}

.catalog-item {
  position: relative;

  display: inline-block;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 20px;
  text-align: center;

  border: 1px solid #cccccc;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;

  width: 60px;
  height: 60px;
  overflow: hidden;

  text-indent: -1000px;
}

.catalog-item .flag-new {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.catalog-item .buy,
.catalog-item .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.catalog-item .bookmark {
  color: #32425c;

  background-color: #ffffff;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .catalog-item-image {
  width: 218;
  height: 168;
  margin: 0;
}

.catalog-item .title {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;
}

.catalog-item .old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999999;
  text-decoration: line-through;
}

.catalog-item .new-price {
  position: relative;

  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

/* ================================ */
/* ============ FOOTER ============ */
/* ================================ */

.main-footer {
  background-color: #32425c;
}

.footer-bottom-block {
  background-color: #293449;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}


.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* ========== ЛОГОТИП ========== */

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.main-footer .footer-logo {
  display: block;
  padding-top: 17px;
  padding-right: 41px;
  padding-bottom: 18px;
  padding-left: 41px;

  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-logo:hover {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

/* ========== АДРЕС ========== */

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  font-style: normal;
}

/* ========== НАВИГАЦИЯ ========== */

.main-footer ul {
  font-size: 18px;
  line-height: 24px;
}

/* ========== ВЕРХНЯЯ НАВИГАЦИЯ ФУТЕРА ========== */

.footer-top-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-top-nav:first-child {
  margin-left: 0;
  padding-left: 0;
}

.footer-top-nav a {
  display: block;
  margin-top: 40px;
  margin-left: 60px;

  color: #f3f7f9;
}

.footer-top-nav a:hover {
  text-decoration: underline;
}

.footer-top-nav a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

/* ========== НИЖНЯЯ НАВИГАЦИЯ ФУТЕРА ========== */

.footer-bottom-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-bottom-nav a {
  display: block;
  margin-left: 60px;

  color: #ffd180;
}

.footer-bottom-nav a:hover {
  text-decoration: underline;
}

.footer-bottom-nav a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

/* ========== COPYRIGHT ========== */

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

/* ========== SOCIAL ========== */



/* ========== ЛИНКИ АКАДЕМИИ ========== */

.academy {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.academy a {
  color: #ffd180;
}

.academy a:hover {
  text-decoration: underline;
}

.footer-bottom-nav a:active {
  color: #ee3643;
  text-decoration: none;
}

/* ========== СЕКЦИЯ ФИЛЬТРОВ ========== */

.container-filters {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.container-filters h2 {
  font-size: 13px;
  line-height: 18px;
}

.container-filters legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.container-filters label {
  font-size: 15px;
  line-height: 20px;
}

.container-filters button {
  font-size: 13px;
  line-height: 18px;
}

/* ========== ПАГИНАЦИЯ ========== */

.pagination-list {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-list a {
  color: #000000;

  border: 1px solid #e5e5e5;
}

.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

/* ========== СОРТИРОВКА ========== */

.sort {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.sort h2 {
  color: #000000;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover {
  color: #000000;
}

.sort a:active {
  color: #ee3643;
}

/* ========== Модальное окно корзины ========== */

.modal {
  position: fixed;
  z-index: 3;

  color: #000000;

  background-color: #ffffff;
}

.modal-cart {
  top: 200px;
  left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  min-height: 282px;
  margin-left: -310px;

  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-cart p {
  position: relative;

  margin-top: 68px;
  padding-left: 98px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.modal-cart p::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;

  width: 66px;
  height: 66px;

  background-image: url("../img/sprites/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;;
}

.modal-cart .buttonz {
  display: flex;
  flex-direction: row;
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #f1f1f1;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-color: #ffffff;
  background-image: url("../img/sprites/icon-close.svg");
  border: 0;
  cursor: pointer;
}

.modal-cart-button {
  display: block;
  width: 220px;
  margin-right: 20px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.modal-cart-button:hover,
.modal-cart-button:focus {
  background-color: #ca2c37;
}

.modal-cart-button:active {
  color: #000000;

  background-color: #ffffff;
}

.modal-cart-button:last-child {
  margin-right: 0;
}

/* ========== Модальное окно формы ========== */

.modal-mail {
  top: 200px;
  left: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  min-height: 430px;
  margin-left: -310px;

  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-right: 80px;
  margin-right: -20px;
  margin-bottom: 37px;
  margin-left: 80px;
}

.mail-form {
  margin: 0;
}

.mail-form label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.mail-form input[type="text"] {
  width: 200px;
  min-height: 34px;
  margin-top: 13px;
  margin-right: 20px;
  margin-bottom: 22px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
}

.mail-text {
  margin: 0;
}

.mail-text label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.mail-text textarea {
  width: 424px;
  height: 74px;
  margin-top: 13px;
  padding: 13px 16px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
}

.button-mail {
  display: block;
  width: 460px;
  margin-right: 20px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button-mail:hover,
.button-mail:focus {
  background-color: #ca2c37;
}

.button-mail:active {
  color: #000000;

  background-color: #ffffff;
}

.button-mail:last-child {
  margin-right: 0;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #f4f4f4;
}

/* ========== Модальное окно с картой ========== */

.modal-map {
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-top: -280px;
  margin-left: -470px;

  background-color: #565656;
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.modal-map .modal-close {
  background-color: rgba(255, 255, 255, 0.1);
}

iframe {
  border: none;
}

/*.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.1);
}*/
